@import "css_modules/reset.css";
@import "css_modules/theming.css";

body {
    padding: 0.5rem;
}

.header__box {
    margin: 1.5rem 0;
}

.header__title {
    text-align: center;
}

.the-day {
    text-align: center;
    border: 3px dashed var(--txt-color);
    padding: 1rem 0.5rem;
}

.the-day + .the-day {
    margin-top: 1.0rem;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    border-top: 2px dashed var(--txt-color);
    padding-top: 2rem;
    margin-top: 1rem;
}


.an-entry {
    border: 1px solid var(--txt-color);
    margin: 0.5rem;
    padding: 0.4rem 0.5rem;
    min-width: 200px;
    max-width: 340px; 
}

.an-entry__title {
    font-size: 1.3rem;
    text-decoration: underline;
}

.an-entry__copy {
    margin-top: 0.7rem;
}

.copy__li {
    text-align: center;
}

.dash-main {
    height: 100vh;
}

.entry-form {
    display: flex;
    flex-direction: column;    
    justify-content: center;
}

.entry-form * {
    margin: 0.5rem;
}

.link {
    color: inherit;
}

.link:visited {
    color: inherit;
}

footer {
    display: flex;
    justify-content: space-evenly;
    margin: 2rem 0;
    border-top: 2px dashed var(--txt-color);
    padding: 1rem;
}

.goal-box {
    border: 2px solid var(--txt-color);
    margin: 0.5rem;
    padding: 1rem;
}

.goal__title {
    font-size: 1.5rem;
    margin: 0.5rem;
}

.goal__list {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

}

.a-goal {
    border: 1px solid var(--txt-color);
    margin: 0.5rem;
    padding: 0.5rem;
}